# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
test_env/
.env

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.coverage
.pytest_cache/
htmlcov/

# Build / packaging
*.egg-info/
dist/
build/
.eggs/
*.egg   